/*
Linkbreakers API

This is a documentation of all the APIs of Linkbreakers

API version: 1.42.8
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package linkbreakers

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// TimeSeriesAPIService TimeSeriesAPI service
type TimeSeriesAPIService service

type ApiTimeSeriesServiceGetEventsTimeSeriesRequest struct {
	ctx context.Context
	ApiService *TimeSeriesAPIService
	getEventsTimeSeriesRequest *GetEventsTimeSeriesRequest
}

func (r ApiTimeSeriesServiceGetEventsTimeSeriesRequest) GetEventsTimeSeriesRequest(getEventsTimeSeriesRequest GetEventsTimeSeriesRequest) ApiTimeSeriesServiceGetEventsTimeSeriesRequest {
	r.getEventsTimeSeriesRequest = &getEventsTimeSeriesRequest
	return r
}

func (r ApiTimeSeriesServiceGetEventsTimeSeriesRequest) Execute() (*GetEventsTimeSeriesResponse, *http.Response, error) {
	return r.ApiService.TimeSeriesServiceGetEventsTimeSeriesExecute(r)
}

/*
TimeSeriesServiceGetEventsTimeSeries Get events time series

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTimeSeriesServiceGetEventsTimeSeriesRequest
*/
func (a *TimeSeriesAPIService) TimeSeriesServiceGetEventsTimeSeries(ctx context.Context) ApiTimeSeriesServiceGetEventsTimeSeriesRequest {
	return ApiTimeSeriesServiceGetEventsTimeSeriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetEventsTimeSeriesResponse
func (a *TimeSeriesAPIService) TimeSeriesServiceGetEventsTimeSeriesExecute(r ApiTimeSeriesServiceGetEventsTimeSeriesRequest) (*GetEventsTimeSeriesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetEventsTimeSeriesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TimeSeriesAPIService.TimeSeriesServiceGetEventsTimeSeries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/timeseries/events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.getEventsTimeSeriesRequest == nil {
		return localVarReturnValue, nil, reportError("getEventsTimeSeriesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.getEventsTimeSeriesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
